.container {
    position: relative;
    padding: 6.67vw 4.44vw;
    background: url("../images/backgroundMain.svg");
    margin-top: 80px;
    width: 100vw;

    .main_box {
        z-index: 1;
        position: relative;
        color: #fff;

        h1 {
            font-weight: 700;
            font-size: 10vw;
            line-height: 10.56vw;
        }
    }

    .multiple_fruit {
        position: absolute;
        width: 56.67vw;
        height: 68.33vw;
        right: 0;
        top: -5.556vw;
    }

    .information {
        font-weight: 400;
        font-size: 1.67vw;
        line-height: 1.94vw;
        width: 40.28vw;
        margin: 1.67vw 0;
    }

    .nootris_help {
        margin-top: 8.33vw;
        font-weight: 700;
        font-size: 2.5vw;
        line-height: 2.99vw;
    }

    .advice {
        width: 27.8vw;
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 1.458vw;
        margin: 1.1vw 0 0 0;
    }
}